.ActionButton {
    font-size: 2rem;
    height: 51px;

    padding: 1rem;
    width: 215px;


    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 100px;

    font-size: 21px;
    cursor: pointer;
    overflow: hidden;
}
.ActionButton__container {
    height: 100%;
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.ActionButton__container.ActionButton__container__black {
    color: white;
    background: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

        -webkit-clip-path: inset(0 100% 0 0 round 51px);
    clip-path: inset(0 100% 0 0 round 51px);
    transition: -webkit-clip-path .48s cubic-bezier(.65,0,.35,1);
    transition: clip-path .48s cubic-bezier(.65,0,.35,1);
}

.ActionButton__container.ActionButton__container__black #icon__black {
    background-color: white;
}

.ActionButton:hover .ActionButton__container.ActionButton__container__black{
-webkit-clip-path: inset(0 0% 0 0 round 51px);
    clip-path: inset(0 0% 0 0 round 51px);
}


.icon {
    width: 12px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: transform 200ms ease;
}

.icon::after {
    content: '';
    width: 6px;
    height: 6px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    position: absolute;
    top: 50%;
    right: 0;
    /* transform: rotate(45deg) translate(-50%, -50%); */
    transform:  translate(0%, -50%) rotate(45deg);
    display: block;
}

#icon__black::after {
    border-top: 2px solid white;
    border-right: 2px solid white;
}


.ActionButton:hover #icon {
    transform: translateX(4px);

}